* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0D656B;
}

.page {
  font-family: "Roboto";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/*---------- header start ----------*/
.header {
  padding-top: 80px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.header__title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.005em;
  color: var(--main-color);
  text-transform: uppercase;
}

.header__title--gray {
  font-weight: 300;
  color: #A9A9A9;
}

.header__subtitle {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.005em;
  color: var(--main-color);
  text-transform: uppercase;
}

.contacts {
  max-width: 815px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.contacts__list-item {
  list-style: none;
  position: relative;
  min-width: 380px;
  padding-left: 40px;
}

.contacts__list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contacts__list-item--mail::before {
  top: 4px;
  height: 20px;
  background-image: url("assets/svg/mail-icon.svg");
}

.contacts__list-item--discord::before {
  top: 1px;
  height: 25px;
  background-image: url("assets/svg/discord-icon.svg");
}

.contacts__list-item--git::before {
  top: 2px;
  height: 26px;
  background-image: url("assets/svg/git-icon.svg");
}

.contacts__list-item--location::before {
  top: 0;
  height: 29px;
  background-image: url("assets/svg/location-icon.svg");
}

.contacts__link {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #333333;
  text-decoration: none;
  transition: .5s;
}

.contacts__link:hover,
.contacts__link:active {
  text-decoration: underline;
  color: var(--main-color);
}

.header__content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__photo {
  width: 409px;
  height: 470px;
  background-size: cover;
}

.header__about {
  width: 100%;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3F7FD;
}

.header__about-text {
  max-width: 800px;
  font-size: 26px;
  line-height: 50px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
/*---------- header end ----------*/
.main__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 90px;
  padding: 60px 0;
}

.main__content-column {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main__content-column:last-child {
  width: 409px;
}

.section__title {
  position: relative;
  padding-left: 45px;
  padding-bottom: 10px;
  margin-bottom: 24px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-color);
}

.section__title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 50px;
  background-color: var(--main-color);
}

.section__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #157698 0%, rgba(21, 118, 152, 0) 100%);
}

.skills-section__list {
  padding-left: 20px;
}

.skills-section__list-item {
  list-style: none;
  margin-bottom: 15px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #333333;
}

.skills-section__list-item:last-child() {
  margin-bottom: 0;
}

.projects-section {
  max-width: 700px;
}

.projects-section__items {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.projects-section__item-title {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.projects-section__item-image {
  width: 100%;
  transition: .5s;
}

.projects-section__item-image:hover {
  filter: brightness(0.4);
}